* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  width: 100%;
  height: 100%; 
}

body {
  background-color: black;
}

@media only screen and (max-width: 768px) {
  .box-slider {
    width: 45%;
    height: 200px; 
  }
}

@media only screen and (max-width: 480px) {
  .box-slider {
    width: 35%;
    height: 200px; 
  }
}